/* Begin coding CSS for header of website. No classes/IDs inputted at this time. All subsequent code (unless otherwise specified) is for all viewports. */
header {
    background-image: url(../images/LogoSmall.png);
    min-height: 50px;
    background-position: right top;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    color: #5d675b
} /* Sets background image properties for header. Color is defined as the background inside the header. */

/* ID selector for configuration of website name in header element on homepage. */
#websitetitle {
    font-family: "Brush Script MT", cursive;
    font-size: 4em;
} /* Typeface (font) configured in cursive. */

/* Navigation Link Enhancements in navigation element. */
nav a {
    font-size: 1.5em;
    flex-direction: row;
    list-style-type: none;
    display: inline;
    margin: auto;
    background-color: cornsilk;
    text-align: center;
    width: auto
}

/* Pseudoclasses illustrating link properties for all webpage links. Note that the order of code must've been depicted in this order for the behavior properties of the links to work. Coded using */
a:link {color: rgb(97,134,133)} /* Sets unvisited links to the following RGB values. Note that as per the assignment instructions, the color was originally specified to be set as white. */
a:visited {color: rgb(93,103,91)} /* Sets visited links to the following RGB values. Note that as per the assignment instructions, the color was originally specified to be set as black. */
a:hover {color: rgb(3,0,39)} /* Sets links to be set at the following RGB values if the end-user hovers over them. Note that as per the assignment instructions, the color was originally specified to be set as yellow. */

aside {
    background-color: aquamarine;
    padding: 40px;
    text-align: center;
    border-radius: 25px;
    border-style: groove;
} /* Background color represents the body of where the unordered list in the Classes webpage begins and ends. */

body {
    background-color: #d5f4e6;
    color: #618685;
    font-family: Arial, Helvetica, sans-serif;
} /* Background color of title of website. The color of the text is white with an Arial sans-serif type font. */

main {
    background-color: white;
    color: navy;
    height: 100vh;
    overflow: scroll;
} /* Background color of the text inside the description of the business is Navy. The content area itself serving as the background to that layer is White. */

.sponsorimages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
} /* Class name for headshots of trainer images for Teams page. Indicated as the flex container for main section. */

.businessname {
    font-size: 1.2em; 
    font-style: italic
} /* Specifes class selector for the business name and applies the following. Note that this only occurs in the main area of each webpage. */

.beigebackground {
    background-color: beige;
    padding: 20px;
} /* Specifies class selector for lists on the Classes webpage. Note that the background color differs from that specified in the aside element. */

div.grouplist {
    background: #E5D0E3; 
    border-radius: 10px
} /* Specifies class selector for the Employees part of the Teams webpage using the following background. Note that the trainer headshots and the list are grouped together compared to the Sponsors directed at the top of the webpage given the background color difference. Background is slightly rounded here. */

.imagecircles {
    border-radius: 50%; 
    width: 80px;
} /* Class selector specifying that the trainer headshots are in the form of a circle as opposed to some quadrilateral. */

.concatenation {
    display: flex;
} /* Class name indicating that content in the main section is displayed beside the navigation. */

footer {
    text-align: center;
} /* Footer is aligned in the center. */

/* Begin larger viewing screen viewport specifications only. */
@media screen and (min-width: 650px) {
    body {
        background-color: #dceed1;
        color: #030027;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    header {
        background-color: #618685; 
        color: #d5f4e6;
        background-image: url(../images/LogoLarge.png);
        min-height: 100px;
    }
    
    nav a {
        font-size: 1.5em;
        flex-direction: column;
        display: block;
        margin: auto;
        background-color: khaki;
        text-align: center;
    }
    
    aside {
        padding: 50px;
        border-radius: 25px;
        border-style: groove;
    }
    
    .beigebackground {
        padding: 60px;
    }
    
    .right {
        width: 95%;
    }
    
    .clearleft {
        clear: left;
    }
    
    .imagecircles {border-radius: 50%; width: 150px;}
    
    figcaption {
        text-align: center;
        font-weight: bold;
    }
    
    .concatenation {
        display: flex;
        height: 100vh;
    }
    
    .gradbackground {
        background-color: steelblue;
        color: paleturquoise;   
    }
    
    .gridcontainer {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 5px;
    }
    
    .gridcontainer img {
        width: 100%;
        height: 100%
        display: grid;
    }
    
    .Grads {
        grid-area: 1 / 1 / 2 / 4;
        text-align: center;
    }
    
    .squareDogSquad {
        grid-area: 2 / 1 / 2 / 1;
    }
    
    .squareSiberian {
        grid-area: 2 / 2 / 2 / 2;
    }
    
    .squareSmartDogs {
        grid-area: 2 / 3 / 2 / 3;
    }
    
    .squareWhite {
        grid-area: 3 / 1 / 3 / 1;
    }
    
    .squareMason {
        grid-area: 3 / 2 / 3 / 2;
    }
    
    .squareCuteSmartDog {
        grid-area: 3 / 3 / 3 / 3;
    }
    
    .wideFancy {
        grid-area: 4 / 1 / 4 / span 2;
    }
    
    .wideDogHorde {
        grid-area: 5 / 1 / 5 / span 2;
    }
    
    .longOrangeBooks {
        grid-area: 4 / 3 / span 2 / span 1;
    }
    
    .squareHappyDog {
        grid-area: 6 / 2 / 6 / 2;
    }
    
} /* Proper contrasting was used to decide which colors to pick and why. It does not make sense to pick two similar colors, as that can lead to end-users having a hard time deciphering the text. I used Coolors as a resource to help pick my colors, fine-tuning along the way so the five I picked could be the best possible choices. */}